* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s ease;
}

body {
  background-color: black;
  position: relative;
  font-family: Inter, sans-serif;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.90);
  display: none;
  align-items: center;
  padding-top: 50px;
  justify-content: center;
  z-index: 1000;
}


.overlay.modalShow {
  display: flex;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.modal {
  background: #fff;
  border-radius: 14px;
  padding: 40px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  animation-name: zoom;
  animation-duration: 0.6s;
  position: relative;
}


.modal h2 {
  margin: 0 0 16px;
  font-size: 18px;
}

.amount-preview {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
  color: #111;
}


.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
}


.input-group input,
.input-group select {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: black;
}


.pay-method {
  margin-bottom: 20px;
}


.deposit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #111;
  color: white;
  font-size: 15px;
  cursor: pointer;
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: black;
  transition: transform 0.4s ease;
}

.close:hover {
  transform: rotate(20deg);
}

.details-copy {
  background-color: black;
  border-radius: 10px;
  color: #fff;
  padding: 5px 10px;
}



.menu {
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.96);
  z-index: 100000;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.28s ease;
}

.menu-overlay.open {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.menu-overlay a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.4s ease;
}

.menu-overlay button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 25px;
}

.menu-overlay a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-right .sup {
  border: 1px solid #fff;
  padding: 4px 15px;
  border-radius: 20px;

}

nav a {
  color: #fff;
  text-decoration: none;
}

nav i {
  color: #fff;
}

.menu {
  display: none;
  font-size: 28px;
  background-color: transparent;
  border: none;
}

.nav-left a i {
  transition: transform 0.4s ease;
}

.nav-left a:hover i {
  transform: rotate(-90deg);
}

.deposit {
  background-color: #fff;
  color: black;
  padding: 5px 10px;
  border-radius: 50px;
  transition: transform 0.4s ease;
  font-size: 13px;
}

.deposit:hover {
  transform: scale(1.1);
}

.future-main {
  width: 90%;
  margin: 70px auto;
  padding: 30px 0px 0px 0px;
  color: #fff;
}

.market {
  font-size: 40px;
}

.est {
  display: flex;
  gap: 5px;
  font-size: 14px;
  margin-top: 10px;
  color: gray;

}

.future-main p span {
  color: white;
}

.future-main .options {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.future-main .options a {
  text-decoration: none;
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
}

.my {
  color: black;
  background-color: rgb(185, 252, 53);
}

.profile {
  color: #fff;
  background-color: rgb(53, 53, 53);
}

.main2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 60px;
}

.top-links {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

.m-link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.buttons button {
  background-color: transparent;
  color: gray;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.buttons button.active {
  background-color: rgb(46, 46, 46);
  color: white;
}

.search-traders {
  display: flex;
  width: 300px;
  gap: 5px;
  border: 1px solid white;
  align-items: center;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #fff;
}

.search-traders i {
  color: black;
}

.search-traders input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  color: black;
  background-color: transparent;
}

.top-left img {
  border-radius: 100%;
}

.charts {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.ch-row {
  width: 30%;
  border: none;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(17, 17, 17);
  position: relative;
}


.ch-row::before {
  position: absolute;
  content: "";
  bottom: 15px;
  height: 2px;
  border-radius: 50px;
  background-color: rgb(185, 252, 53);
  left: 30px;
  right: 30px;
}

.half::before {
  position: absolute;
  content: "";
  bottom: 15px;
  height: 2px;
  border-radius: 50px;
  background-color: rgb(185, 252, 53);
  left: 30px;
  right: 100px;
}

.top-left {
  display: flex;
  gap: 5px;
  align-items: center;
}

.top-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ch-main-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.ch-main-left img {
  width: 40px;
}

.name {
  font-size: 20px;
  font-weight: 700;
}

.long {
  font-size: 11px;
  background-color: green;
  color: rgb(45, 253, 45);
  padding: 0px 10px;
  border-radius: 5px;
  text-align: center;
}

.lead {
  border-bottom: 2px dashed #fff;
  display: inline-block;
  font-size: 13px;
  color: gray;
}

.green {
  color: rgb(53, 253, 53);
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0px 10px 0px;
}

.red {
  color: red;
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0px 10px 0px;
}

.amount {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gray {
  font-size: 13px;
  color: rgb(153, 153, 153);
}

/* .ch-main-left {
  border: 1px solid yellow;
} */

.ch-main-right {
  width: 50%;
  /* border: 1px solid teal; */
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.copy-btn {
  background-color: rgb(36, 36, 36);
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.copy-btn:hover {
  background-color: rgb(15, 15, 15);
}

.copy-btn:active {
  transform: translateY(4px);
}


.sparkline {
  width: 90%;
  height: 100%;
}


.nums {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
}

.nums p span {
  color: gray;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(45, 45, 45, 0.5);
  padding: 10px 15px;
  background-color: black;
}

.foot-image {
  width: 50px;
  object-fit: contain;
}

.foot-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.foot-right a {
  color: #fff;
  text-decoration: none;
  transition: transform 0.4s ease;
}

.foot-right a:hover {
  transform: translateY(-5px);
}

.foot-right p {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .nav-right i {
    display: none;
  }

  .abt,
  .copy,
  .history {
    display: none;
  }

  .menu {
    display: flex;
  }

  .main2 {
    padding: 20px;
  }

  .buttons {
    gap: 2px;
    flex-wrap: wrap;
  }

  .buttons button {
    font-size: 12px;
  }

  .charts {
    gap: 30px;
  }

  .ch-row {
    width: 100%;
  }

  .green,
  .red {
    font-size: 20px;
  }

  .amount {
    font-size: 11px;
  }

  .foot-right p {
    display: none;
  }


}

.wallet-addresses{
  max-height: 200px;
  overflow-y: auto;
}

.wallet-addresses span{
  font-size: 10px;
  display: inline-block;
  border: 1px solid dodgerblue;
  padding: 5px;
}

.wallet-addresses button{
  background: dodgerblue;
  border: none;
  color: white;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 5px;
}